<html>
    <head>
        <link rel="stylesheet" href="/css/app.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        {{> _header}}
        <div class="content">{{{ content }}}</div>
    </body>
</html>
