<html>
    <head>
        <title>{{ title }}</title>
        {{! Styles}}
        <link rel="stylesheet" href="/css/app.css" />
        {{! Scripts}}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
    </head>
    <body>
        {{> _header}}
        <div class="content">{{{ content }}}</div>
        {{! Viewmodels}}
        <script type="text/javascript" src="/js/viewmodels.js"></script>
    </body>
</html>
